{% include 'links.html' %}
<nav class="nav">
    <div class="nav-item w-40 h-20">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0CtPCLDjukqLkoA6IGhyOJSehOOWtIZjs2A&s" class="img-pic" alt="">
    </div>
    <div class="nav-item w-60">
        <div class="nav mt-15">
            <div><a class="nav-link text-center" href="customer_home">Home</a></div>
            <div><a class="nav-link text-center" href="search_parking">search parking</a></div>
            <div><a class="nav-link text-center" href="view_booking">view booking</a></div>
            <div><a class="nav-link text-center" href="logout">Logout</a></div>
        </div>
    </div>
</nav>
