{% include 'links.html' %}
<div>
    <div class="container-heading">PARKING SLOT BOOKING SYSTEM</div>
    <div class="container mt-20">
        <div class="container-item w-20"></div>
        <div class="container-item w-40 mt-20">
            {{message}}
        </div>
        <div class="container-item w-20">
            <div class="container-btn"><a href="/" class="btn">Home</a></div>
            <div class="container-btn"><a href="admin_login" class="btn">Admin</a></div>
            <div class="container-btn"><a href="customer_login" class="btn">Customer</a></div>
        </div>
    </div>
</div>
