{% if session['role'] == 'admin' %}
    {% include "admin_menu.html" %}
{% endif %}

{% if session['role'] == 'customer' %}
    {% include 'customer_menu.html'%}
{% endif %}

<div>
    <div class="container mt-20">
        <div class="container-item w-40">
            <div class="card p-20" style="background-color: rgb(46, 132, 194, 0.7);">
                <div class="card-title text-center">Review & Rating</div>
                <div class="mt-15">
                    <label class="text-center">Review</label>
                    <input class="card-input" placeholder="Enter Review" value="{{review['review']}}" style="padding:10px;">
                </div>
                <div class="mt-15">
                    <label class="text-center">Rating</label>
                    <input type="number" class="card-input" placeholder="Given Rating" value="{{review['rating']}}" style="padding:10px;">
                </div>
            </div>
        </div>
    </div>
</div>